.article-compose-container {
    display: flex;
    align-items: center;
     padding: 0 20px;
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
     overflow: auto;
    max-height: 67vh;
}

.article-display {
    max-width: 740px;
    padding: 0 20px;
    width: 100%;
    margin: 20px auto;
}

.article-display-title {
    font-size: 40px;
}

.article-display-body {
    font-size: 21px;
    margin-top: 30px;
}


.body-text-editor {
    padding: 0 20px;
    // max-width: 740px;
    // margin: 0 auto;
    width: 100%;
    font-size: 22px;
    // margin-top: 20px;
    // overflow: auto;
    // max-height: 67vh;
}

.body-text-editor::placeholder {
    color: lightgray;
    font-size: 40px;
}

div.DraftEditor-root {
    position: relative;
    overflow: scroll;
    max-height: 66%;
}

.publish-button {
    background: rgb(21, 187, 21);
    color: white;
    height: 30px;
    width: 90px;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    right: 165px;
    font-weight: 500;
    outline: none;
    border-color: rgb(21, 187, 21);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.publish-button:hover {
    background: rgb(25, 169, 25)
}

.title-text-editor {
    padding: 0 20px;
    max-width: 680px;
    margin: 0 auto;
    width: 100%;
    font-size: 45px;
    margin-top: 40px;
}

.article-display-like-container {
    background-color: red;
    max-width: 740px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.article-display-like-container i {
    font-size: 48px;
    cursor: pointer;
}

.article-display-like-container button {
    border: 1px solid black;
    padding: 5px;
}