.comment-index-item {
  height: fit-content;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  border-radius: 3px;
  margin-bottom: 15px;
 
}

.comment-index-item div {
  display: flex;
  padding: 15px;
}

.comment-links {
  display: flex;
  justify-self: flex-start;
}

.comment-container {
  display: flex;
  
}


.comment-body {
  margin-left: 10px;

}

.comment-author {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

