.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  height: 75px;
  box-sizing: border-box;
  align-items: center;
  @include lg {
    padding: 0 2.2em;
  }
  @include xl {
    padding: 0 6.1em;
  }
}

.navbar-logo {
  width: 85px;
}

.navbar-buttons {
  display: flex;
  .navbar-search {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input {
      box-sizing: border-box;
      background-color: white;
      padding: 0.3em;
      width: 88%;
      -webkit-transition: width 1s;
      transition: width 1s;
      &.closed {
        visibility: hidden;
        width: 0px;
        padding: 0;
      }
    }
    i {
      cursor: pointer;
      margin-right: 0.6em;
      color: gray;
      &:hover {
        color: black;
      }
    }
  }
  > a {
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    i {
        padding-right: 8px;
    }
    &:hover {
      background-color: lightsteelblue;
    }
  }
  a:first-of-type:hover i:after {
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600; 
  }
  a:last-of-type:hover i:after {
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600;    
  }
}

.navbar-signout-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-signout-button:hover{
  background-color: lightsteelblue;
}

.navbar-signout-button:hover:after {
  margin-left: 8px;
  font-size: 17px;
  font-weight: 600;
}

.navbar-login-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-signup-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-login-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-login-button:hover{
  background-color: lightsteelblue;
}

.navbar-signup-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-signup-button:hover{
  background-color: lightsteelblue;
}
