.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
  height: 75px;
  box-sizing: border-box;
  align-items: center;
  padding-left: 0.15em;
  padding-right: 0.15em;
  @include xs {
    max-width: 520px;
  }
  @include md {
    min-width: 576px;
    max-width: 700px;
  }
  @include lg {
    min-width: 768px;
    max-width: 900px;
  }
  @include xl {
    min-width: 992px;
    max-width: 1100px;
  }
}

.navbar-logo {
  width: 85px;
}

.navbar-buttons {
  display: flex;
  > a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 14px;
    @include md {
      font-size: 17px;
    }
    i {
        padding-right: 2px;
        @include md {
          padding-right: 8px;
        }
    }
    h3 {
      display: none;
    }
    @include md {
      h3 {
        display: inline-block;
      }
    }
    &:hover {
      background-color: lightsteelblue;
    }
  }
  a:first-of-type:hover i:after {
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600; 
  }
  a:last-of-type:hover i:after {
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600;    
  }
}

.navbar-signout-button {
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  h3 {
    display: inline-block;
  }
  i {
    padding-right: 8px;
  }
  @include md {
    font-size: 17px;
    i {
    }
  }
}

.navbar-signout-button:hover{
  background-color: lightsteelblue;
}

.navbar-signout-button:hover:after {
  margin-left: 8px;
  font-size: 17px;
  font-weight: 600;
}

.navbar-login-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-signup-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-login-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-login-button:hover{
  background-color: lightsteelblue;
}

.navbar-signup-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-signup-button:hover{
  background-color: lightsteelblue;
}
