.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  min-width: 500px;
  margin: 0 auto;
  padding-top: 15px;
  height: 75px;
  box-sizing: border-box;
  align-items: center;
}

.navbar-logo {
  width: 85px;
}

.navbar-buttons a {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  i {
      padding-right: 8px;
  }
}

.navbar-buttons a:first-of-type:hover i:after{
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-buttons a:last-of-type:hover i:after{
    margin-left: 8px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-buttons a:hover{
  background-color: lightsteelblue;
}

.navbar-signout-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-signout-button:hover{
  background-color: lightsteelblue;
}

.navbar-signout-button:hover:after {
  margin-left: 8px;
  font-size: 17px;
  font-weight: 600;
}

.navbar-login-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-signup-button {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  i {
    padding-right: 8px;
  }
}

.navbar-login-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-login-button:hover{
  background-color: lightsteelblue;
}

.navbar-signup-button:hover:after {
  margin-left: 8px;
  font-weight: 600;
  font-size: 17px;
}

.navbar-signup-button:hover{
  background-color: lightsteelblue;
}
