.login-form-inputs {
  padding-top: 20px;
  font-size: 18px;
}

.session-form-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6vh;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 40em;
  max-width: 52em;
  width: 100%;
  min-height: 23em;
  height: 78vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("https://roastia.s3.us-east-2.amazonaws.com/kari-shea-1SAnrIxw5OY-unsplash.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.session-form {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-image: none;
  background-color: #eceae7;
  box-shadow: 4px 4px 6px rgba(68, 68, 68, 0.5)
}

.session-form input {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  line-height: 1.5;
  padding: 5px 10px;
}

.session-button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .session-button {
    display: block;
    padding: 7px 8px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 17px;
    &:first-of-type {
      margin-right: 0.6em;
    }
  }
}

.session-errors-list {
  padding: 12px 20px;
  padding-bottom: 10px;
  list-style-type: disc;
}

.session-errors-list li {
  list-style: none;
  font-size: 13px;
  color: #ff0303;
  margin: 5px auto 0 auto;
  width: 80%;
  text-align: center;
}