.login-form-inputs {
  padding-top: 20px;
  font-size: 18px;
}

.session-form-container {
  position: absolute;
  left: 50%;
  top: 1.4em;
  transform: translate(-50%, 0);
  min-width: 42em;
  max-width: 56em;
  width: 100%;
  height: 28em;
  background: #eee url('../assets/images/modal-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.session-form {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 5.6em;
  padding: 20px;
  background-image: none;
  background-color: #eceae7;
  box-shadow: 4px 4px 6px rgba(68, 68, 68, 0.5)
}

.session-form input {
  display: block;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  line-height: 1.5;
  padding: 5px 10px;
}

.session-button-container {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
  .session-button {
    display: block;
    padding: 8px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 17px;
    &:first-of-type {
      margin-right: 0.6em;
    }
  }
}

.session-errors-list {
  padding: 12px 20px;
  padding-bottom: 10px;
  list-style-type: disc;
}

.session-errors-list li {
  list-style: none;
  font-size: 14px;
  color: #ff0303;
  margin: 10px auto 0 auto;
  width: 80%;
  text-align: center;
}