.profile-page {

}

.profile-page header {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
  min-width: 420px;
  height: 150px;
  margin: 0 auto;
  margin-top: 70px;
}

.profile-name-container {
  height: 50px;
  width: 75%;
  display: flex;
  align-items: center;
}

.profile-name-container h1 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 600;
}

.profile-name-container button {
  padding: 1px 3px;
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  margin-left: 15px;
}

.profile-error {
  text-align: center;
  font-size: 48px;
  margin: 0 auto;
  margin-top: 15%;
}

.profile-image-container img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.profile-nav {
  max-width: 690px;
  min-width: 420px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.profile-nav-tab {
  margin-right: 20px;
  padding: 11px 0;
}

.active {
  border-bottom: 1px solid black;
}
