@import 'break';
@import 'css/modals';
@import 'css/navbar';
@import 'css/reset';
@import 'css/session';
@import 'css/home/home';
@import 'css/profile/page';
@import 'css/profile/feed';
@import 'css/profile/form';
@import 'css/search';
@import 'css/profile/following';
@import 'css/ReactCrop.scss';
@import 'css/load.scss';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

