.home-primary-panel {
  width: 97%;
  padding-top: 0;
  padding-left: 0;
  object-fit: cover;
  background-repeat: none;
  box-sizing: border-box;
}

.home-primary-panel h2 {
  font-size: 22px;
}

.home-primary-panel img {
  display: block;
  object-fit: cover;
  border: 1px solid lightgray;
  height: 10.6em;
  width: 100%;
}

.home-primary-panel-text {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  height: 10em;
  margin-top: 0.6em;
  padding: 0.4em;
  padding-left: 0;
}

.home-primary-title {
  font-size: 24px;
  font-weight: 600;  
  margin-left: 3%;
  width: 80%
}

.home-primary-snippet {
  margin-left: 3%;
  width: 80%;
  font-size: 16px;
  margin-top: 1.2em;
}

.home-primary-author {
  margin-left: 3%;
  color: #545454;
  font-size: 16px;
  margin-top: 1em;
}

.home-primary-author a {
}

.home-primary-author a:hover {
  border-bottom: 1px solid black;
}