.home-primary-panel {
  padding: 20px;
  padding-top: 0;
  object-fit: cover;
  background-repeat: none;
}

.home-primary-panel img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 90%;
}

.home-primary-panel-text {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  padding: 15px;
}

.home-primary-title {
  font-size: 24px;
  font-weight: 600;  
  margin-left: 10%;
  width: 80%
}

.home-primary-snippet {
  margin-left: 10%;
  width: 80%;
}

.home-primary-author {
  margin-left: 10%;
}

.home-primary-author a {
}

.home-primary-author a:hover {
  border-bottom: 1px solid black;
}