.home-secondary-panel {
  display: flex;
  img {
    object-fit: cover; 
    margin-right: 0.8em;
    @include xs {
      height: 5.6em;
      width: 5.6em;
    } 
    @include md {
      height: 6.8em;
      width: 6.8em
    }
    @include lg {
      height: 7.4em;
      width: 7.4em;   
    }   
  }
  .home-secondary-panel-text {
    display: flex;
    justify-content: space-between;
    margin-top: 0.04em;
    margin-bottom: 0.3em;
    width: 65%;
    flex-direction: column;
    box-sizing: border-box;
    h2 {
      font-weight: 600;
      font-size: 18px;
    }
    span {
      color: #545454;
      font-size: 17px;
      a:hover {
        border-bottom: 1px solid black;
      }     
    }
    @include lg {
      padding-bottom: 1.2em;
    }

    @include xl {
      padding-bottom: 0.1em;
    }
  }
}