.home-secondary-panel {
  display: flex;
}

.home-secondary-panel img {
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.home-secondary-panel-text {
  display: flex;
  width: 66%;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  padding-top: 3px;
}

.home-secondary-panel h2 {
  font-weight: 600;
  font-size: 18px;
}

.home-secondary-panel span {
  margin-bottom: 2px;
  color: #545454;
}

.home-secondary-panel span a:hover {
  border-bottom: 1px solid black;
}