.home-feed {
  display: grid;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1000px;
  min-width: 500px;
  border-top: 1px solid gray;
  padding-top: 50px;
  grid-template-columns: 65% auto;
}

.home-tertiary-panel {
  display: flex;
  justify-content: space-between;
  min-height: 190px;
  width: 100%;
  padding-left: 5px;
}

.home-tertiary-panel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.home-tertiary-panel img {
  height: 200px;
  width: 200px;
}

.home-tertiary-panel h2 {
  font-size: 24px;
  max-width: 435px;
  font-weight: 600;
}

.home-tertiary-panel p {
  max-width: 435px;
  margin: 10px 0;
  margin-bottom: 15px;
}

#about-panel {
  height: 400px;
  width: 300px;
  top: 0;
  padding-left: 50px;
}

#about-panel h3 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid gray;
  padding: 15px 5px;
  box-sizing: border-box;
}

#about-panel p {
  margin-top: 15px;
  font-size: 17px;
  padding-right: 10px;
}

.home-tertiary-panel span a:hover {
  border-bottom: 1px solid black;
}