.home-feed {
  display: grid;
  margin: 0 auto;
  margin-bottom: 3em;
  border-top: 1px solid #8080804a;
  padding-top: 2em;
  @include xs {
    max-width: 520px;
  }
  @include md {
    grid-template-columns: 60% auto;
    min-width: 576px;
    max-width: 700px;
  }
  @include lg {
    min-width: 768px;
    max-width: 900px;
  }
  @include xl {
    min-width: 992px;
    max-width: 1100px;
  }
}

.home-tertiary-panel {
  display: flex;
  justify-content: space-between;
  height: 10em;
  width: 100%;
  padding-left: 5px;
  margin-bottom: 1em;
  img {
    height: 9.0em;
    width: 9.0em;
    object-fit: cover;
    object-position: center;  
  }
  @include xs {
    margin-bottom: 1.5em;
  }
  @include sm {
    margin-bottom: 1.5em;
  }
  @include lg {
    margin-bottom: 1em;
  }
}

.home-tertiary-panel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  box-sizing: border-box;
  h2 {
    font-size: 22px;
    max-width: 20em;
    font-weight: 600;
    @include xs {
      font-size: 19px;
    }
    @include lg {
      font-size: 22px;
    }
  }
  p {
    margin: 10px 0;
    margin-bottom: 0.6em;
    font-size: 17px;
    width: 90%;
    line-height: 1.1;
    a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;  
    }
    @include md {
      line-height: 1.4;
      a {
        -webkit-line-clamp: 3;        
      }
    }
  }
  span {
    display: block;
    color: #545454;
    font-size: 17px;
    &:hover {
      text-decoration: underline;
      text-decoration-color: black;
    }  
  }
}

#about-panel {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  height: 400px;
  top: 0;
  padding-left: 50px;
  h3 {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding: 15px 5px;
    box-sizing: border-box;
    &:last-of-type {
      font-size: 15px;
      border: none;
      padding: 20px 0 5px;
      color: #2b2b2b;
    }
  }
  p {
    margin-top: 15px;
    font-size: 17px;
    padding-right: 10px;
  }

  svg {
    height: 50px;
    width: 50px;
    fill: #7e7e7e;
    cursor: pointer;
  }
  svg:hover {
    fill: #545454;
  }
  @include xs {
    display: none;
  }
  @include md {
    display: block;
    width: 250px;
  }
  @include lg {
    width: 275px;
  }
  @include xl {
    width: 375px;
  }
}

#linkedin {
  margin: 0;
}
      
.about-team {
  display: flex;
  margin: 20px 0;
  align-items: center;
  a {
    margin-right: 10px;
  }
}

.about-team-member {
  display: flex;
  margin-right: 10px;
}

.about-team-member-img {
  width: 60px;
  max-width: 50px;
  min-height: 50px;
  height: 50px;
  border-radius: 100%;
}

.tooltip-josh {
  position: relative;
  display: inline-block;
  .josh {
    visibility: hidden;
    width: 120px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px; 
  }
  &:hover .josh {
    visibility: visible;
  }
}

.tooltip-john {
  position: relative;
  display: inline-block;
  .john {
    visibility: hidden;
    width: 120px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
  }
  &:hover .john {
    visibility: visible;
  }
}

.tooltip-alex {
  position: relative;
  display: inline-block;
  .alex {
    visibility: hidden;
    width: 120px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
  }
  &:hover .alex {
    visibility: visible;  
  }
}

.git {
  position: relative;
  display: inline-block;
  .git-text {
    visibility: hidden;
    width: 120px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;  
  }
  &:hover .git-text {
    visibility: visible;
  }
}

.tooltip-josh .josh::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent darkslategray transparent;
}

.tooltip-alex .alex::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent darkslategray transparent;
}

.tooltip-john .john::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent darkslategray transparent;
}

.git .git-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent darkslategray transparent;
}